<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/contact.css">
    <link rel="stylesheet" type="text/css" href="../css/partials/header.css">
    <link rel="stylesheet" type="text/css" href="../css/partials/footer.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>
    <!-- NAVBAR -->
    <header>
        <div class="container">
            <input type="checkbox" name="" id="check">
            <div class="logo-container">
                <a href="../index.html">
                <h3 class="logo">Quality<span>Awning</span></h3>
            </a>
            </div>
            <div class="nav-btn">
                <div class="nav-links">
                    <ul>
                        <li class="nav-link" style="--i: .6s">
                            <a href="../index.html">Home</a>
                        </li>
                       
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="./Fabrics.html">Fabrics</a>
                        </li>
                        <li class="nav-link" style="--i: 1.1s">
                            <a href="#">Products<i class="fas fa-caret-down"></i></a>
                            <div class="dropdown">
                                <ul>
                                    <li class="dropdown-link">
                                        <a href="./Gallery_Awning.html">Retractable Awnings</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="./Gallery_Screen.html">Retractable Solar Screens</a>
                                    </li>
                                    <li class="dropdown-link">
                                        <a href="./Gallery_Shutters.html">European Rolling Shutters</a>
                                    </li>
                                    <div class="arrow"></div>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-link" style="--i: 1.35s">
                            <a href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="hamburger-menu-container">
                <div class="hamburger-menu">
                    <div></div>
                </div>
            </div>
        </div>
    </header>

    <section class="contact" id="contact">
        <div class="heading">
            <h2>Reach Out to Us!</h2>
        </div>
        <div class="content">
            <div class="contactInfo">
                <h3>Contact Info</h3>
                <div class="contactInfoBx">
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="text">
                            <!-- <h3>Address</h3> -->
                            <a target="_blank"
                                href="https://www.google.com/maps/place/Quality+Glass+%26+Awning+Inc/@39.8679855,-104.998434,17z/data=!3m1!4b1!4m5!3m4!1s0x876c6d3f3fb853bb:0xecffdffdc9314307!8m2!3d39.8679855!4d-104.99624">
                                9450 Huron Street <br>Thornton, Colorado 80260</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="text">
                            <!-- <h3>Email</h3> -->
                            <a href="mailto: info@qualityawning.com">info@qualityawning.com</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="text">
                            <!-- <h3>Phone</h3> -->
                            <a href="tel:3034510823">(303) 451-0823</a>
                        </div>
                    </div>
                    <div class="box">
                        <div class="icon">
                            <i class="fa fa-clock"></i>
                        </div>
                        <div class="text">
                            <!-- <h3>Phone</h3> -->
                            <p>Showroom by appointment only</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="formBx">
                <form class="needs-validation" action="#" target="_blank" method="POST" novalidate>
                    <label class="label">Full name<span>*</span></label>
                    <input type="text" name="name" class="form-control" id="validationCustom01" placeholder="Name" value=""
                        required>
                    <div class="invalid-feedback">
                        Please provide your name.
                    </div>

                    <label class="label2">Email<span>*</span></label>
                    <input type="email" name="email" class="form-control" id="validationCustom02" placeholder="Email" value=""
                        required>
                    <div class="invalid-feedback">
                        Please provide a valid Email.
                    </div>
                    <label class="label3">Phone<span></span></label>
                    <input type="tel" name="phone" class="form-control" id="validationCustom02" placeholder="Phone" value=""
                        >
                    <!-- <div class="invalid-feedback">
                        Please provide your Phone.
                    </div> -->
                    <label class="label4">Message<span>*</span></label>
                    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" required></textarea>
                    <div class="invalid-feedback">
                        Please leave us a message.
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </section>


    <footer>
        <hr>
        <div class="content">
            <ul class="footer__info">
                <li>
                    <a href="../index.html"> 
                        <h3 class="logo">Quality<span>Awning</span></h3>
                    </a>
                </li>
                <li>
                    <i class="fas fa-2x fa-map-marker-alt"></i>
                    <a target="_blank"
                        href="https://www.google.com/maps/place/Quality+Glass+%26+Awning+Inc/@39.8679855,-104.998434,17z/data=!3m1!4b1!4m5!3m4!1s0x876c6d3f3fb853bb:0xecffdffdc9314307!8m2!3d39.8679855!4d-104.99624">
                        9450 Huron Street<br>
                        Thornton, Colorado 80260</a>
                </li>
                <li>
                    <i class="fas fa-2x fa-envelope"></i>
                    <a href="mailto: info@qualityawning.com">info@qualityawning.com</a>
                </li>
                <li>
                    <i class="fas fa-2x fa-phone"></i>
                    <a href="tel:3034510823">(303) 451-0823</a>
                </li>
            </ul>
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="./Fabrics.html">Fabrics</a></li>
                <li class="breadcrumb-item"><a href="./Gallery_Awning.html">Gallery</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us</a></li>
                <li><img id="bbb" src="../images/BBB.png" alt="bbb logo"></li> 

            </ol>
        </nav>
    </footer>


    <div class="copyright">
        <p>© 2020, Quality Awning. All Rights Reserved.
        </p>
    </div>

    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();


    </script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>

