<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- <link rel="stylesheet" type="text/css" href="../css/lightbox.min.css"> -->
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../css/fabrics.css" />
    <link rel="stylesheet" type="text/css" href="../css/partials/header.css" />
    <link rel="stylesheet" type="text/css" href="../css/partials/footer.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
    />
    <link rel="stylesheet" href="" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <title>Fabrics</title>
  </head>

  <body>
    <!-- NAVBAR -->
    <header>
      <div class="container">
        <input type="checkbox" name="" id="check" />
        <div class="logo-container">
          <a href="../index.html">
            <h3 class="logo">Quality<span>Awning</span></h3>
          </a>
        </div>
        <div class="nav-btn">
          <div class="nav-links">
            <ul>
              <li class="nav-link" style="--i: 0.6s">
                <a href="../index.html">Home</a>
              </li>

              <li class="nav-link" style="--i: 1.35s">
                <a href="../views/Fabrics.html">Fabrics</a>
              </li>
              <li class="nav-link" style="--i: 1.1s">
                <a href="#">Products<i class="fas fa-caret-down"></i></a>
                <div class="dropdown">
                  <ul>
                    <li class="dropdown-link">
                      <a href="../views/Gallery_Awning.html"
                        >Retractable Awnings</a
                      >
                    </li>
                    <li class="dropdown-link">
                      <a href="../views/Gallery_Screen.html"
                        >Retractable Screens</a
                      >
                    </li>
                    <li class="dropdown-link">
                      <a href="../views/Gallery_Shutters.html"
                        >Security Rolling Shutters</a
                      >
                    </li>
                    <div class="arrow"></div>
                  </ul>
                </div>
              </li>
              <li class="nav-link" style="--i: 1.35s">
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hamburger-menu-container">
          <div class="hamburger-menu">
            <div></div>
          </div>
        </div>
      </div>
    </header>
    <div class="gallery__heading">
      <div class="heading__content">
        <h1>Variety of Fabrics to Choose From</h1>
        <p>
          Quality Awning is proud to offer over 300 fabric colors to choose
          from. We use only 100% acrylic fabric, the absolute best for a
          retractable awning. Many of our fabrics are in-stock ready for
          purchase and installation. They are represented on this page.
        </p>
      </div>
    </div>

    <div id="gallery" class="gallery">
      <div class="grid-container">
        <div class="grid-item">
          <img src="../images/fabrics/fab1.jpg" alt="chocolate almond fabric" />
          <h2>Chocolate Almond <br />#949/91</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab2.jpg" alt="burg natural fabric" />
          <h2>Burg/Natural <br />#5011/11</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab3.jpg" alt="tan slub fabric" />
          <h2>Tan Slub<br />#1120</h2>
        </div>
        <div class="grid-item">
          <img
            src="../images/fabrics/fab4.jpg"
            alt="Forest Beige cream fabric"
          />
          <h2>Forest/Beige/Cream<br />#636/5</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab5.jpg" alt="denim almond fabric" />
          <h2>Denim Almond<br />#951-92</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab6.jpg" alt="steel grey fabric" />
          <h2>Steel Grey<br />#5348/79</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab7.jpg" alt="tuxedo fabric" />
          <h2>Tuxedo<br />#950/24</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab8.jpg" alt="cafe au lait fabric" />
          <h2>Cafe au Lait<br />#945/97</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab9.jpg" alt="black fabric" />
          <h2>Black<br />#24</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab10.jpg" alt="toffee fabric" />
          <h2>Toffee<br />#106</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab11.png" alt="forest green fabric" />
          <h2>Forest Green<br />#5</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab12.png" alt="burgundy fabric" />
          <h2>Burgundy<br />#73</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab13.jpg" alt="rust cream fabric" />
          <h2>Rust Cream<br />#636/84</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab14.jpg" alt="beige fabric" />
          <h2>Beige<br />#57</h2>
        </div>
        <div class="grid-item">
          <img src="../images/fabrics/fab15.jpg" alt="pebble tweed fabric" />
          <h2>Pebble Tweed<br />#986/727</h2>
        </div>
      </div>
    </div>
    <div class="CTA">
      <a href="./contact.html">See something you like? Request a FREE Quote!</a>
    </div>
    <footer>
      <hr />
      <div class="content">
        <ul class="footer__info">
          <li>
            <a href="../index.html">
              <h3 class="logo">Quality<span>Awning</span></h3>
            </a>
          </li>
          <li>
            <i class="fas fa-2x fa-map-marker-alt"></i>
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Quality+Glass+%26+Awning+Inc/@39.8679855,-104.998434,17z/data=!3m1!4b1!4m5!3m4!1s0x876c6d3f3fb853bb:0xecffdffdc9314307!8m2!3d39.8679855!4d-104.99624"
            >
              9450 Huron Street<br />
              Thornton, Colorado 80260</a
            >
          </li>
          <li>
            <i class="fas fa-2x fa-envelope"></i>
            <a href="mailto: info@qualityawning.com">info@qualityawning.com</a>
          </li>
          <li>
            <i class="fas fa-2x fa-phone"></i>
            <a href="tel:3034510823">(303) 451-0823</a>
          </li>
        </ul>
      </div>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Fabrics</li>
          <li class="breadcrumb-item">
            <a href="./Gallery_Awning.html">Gallery</a>
          </li>
          <li class="breadcrumb-item"><a href="contact.html">Contact Us</a></li>
          <li><img id="bbb" src="../images/BBB.png" alt="bbb logo" /></li>
        </ol>
      </nav>
    </footer>

    <div class="copyright">
      <p>© 2020, Quality Awning. All Rights Reserved.</p>
    </div>

    <a href="#" id="scroll" style="display: none"><span></span></a>
    <!-- Optional JavaScript -->
    <script>
      $(document).ready(function () {
        $(window).scroll(function () {
          if ($(this).scrollTop() > 100) {
            $("#scroll").fadeIn();
          } else {
            $("#scroll").fadeOut();
          }
        });
        $("#scroll").click(function () {
          $("html, body").animate({ scrollTop: 0 }, 600);
          return false;
        });
      });
    </script>
  </body>
</html>
